a:link
{
	color: black;
}

a:hover
{
	text-decoration: none;
}

a:visited
{
	color: black;
}

header h1 a:visited
{
	color: white;
}

header h1 a:link
{
	color: white;
}

body
{
	margin: 0;
	font-family: "Lucida Sans Unicode", sans-serif;
}

header
{
	background: black;
	color: white;
	width: 60%;
	margin: 0;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding: 1%;
}

header h1
{
	padding: 0;
	padding-left: 10px;
	margin: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}

section
{
	width: 50%;
	margin: 10px;
	margin-left: 25%;
	margin-right: 25%;
	padding: 0;
	vertical-align: top;
	background: #eeeeee;
	/*box-shadow: 1px 1px 5px #888888;*/
}

#articles
{
	display: inline-block;
	width: 67%;
	margin: 0;
	box-shadow: none;
	border-style: none solid none none;
	border-width: 1px;
	border-color: lightgray;
}

article
{	
	width: 100%;
	padding: 0;
	margin-bottom: 10px;
	/**border-style: none none none solid;
	border-width: 1px;*/
}

p
{
	margin: 5px;
}

aside
{
	display: inline-block;
	width: 30%;
	margin: 0;
	/*border-style: none none none solid;
	border-width: 1px;
	border-color: lightgray;*/
}

footer
{	
	clear: both;
	background: black;
	color: white;
	width: 60%;
	margin: 0;
	margin-left: 20%;
	margin-right: 20%;
	padding: 10px;
	font-size: small;
}

footer a:link
{
	color: white;
}

footer a:visited
{
	color: white;
}

img
{
	float: left;
        
	margin: 5px;
	margin-right: 10px;
}

aside img
{
	width: 96%;
	max-width: 200px;
}

.link-header
{
	text-decoration: none;
	color: white;
}

.link-header:visited
{
	color: white;
}

.logo
{
	float: left;
	width: auto;
	height: 70px;
	background: white;
	padding: 5px;
}

#gallery
{
	padding-top: 30px;
	border-style-top: solid;
	border-width: 1px;
}

.printer
{
	padding-top: 30px;
}